<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/estilosCubo.css">
    <link rel="stylesheet" type="text/css" href="../css/estilosForm.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Probando</title>
</head>

<body class="general">
    <div class="container" id="vista-registro">
        <div class="container ">
            <div class="row">
                <div class="col-sm">
                    <section>
                        <div class="box">
                            <div>
                                <span> <video src="../videos/tron.mp4" autoplay="" muted="" loop=""></video></span>
                                <span> <video src="../videos/tron.mp4" autoplay="" muted="" loop=""></video></span>
                                <span> <video src="../videos/tron.mp4" autoplay="" muted="" loop=""></video></span>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-sm">


                    <div class="box-form ">
                        <h2>Login</h2>
                        <div>
                            <div class="centrarBotones">
                                <button class=" btn btn-outline-dark d-inline-block text-light mr-2 mb-3 width-100"
                                    v-on:click="signInGoogle"><i class="fab fa-google"></i>
                                </button>
                                <button class="btn btn-outline-dark d-inline-block text-light mb-3 width-100"
                                    v-on:click="signFacebook"><i class="fab fa-facebook"></i>
                                </button>
                            </div>
                            <form v-on:submit.prevent="iniciarSesion">
                                <div class="inputBox">
                                    <i class="fas fa-user text-light"></i>
                                    <input type="text" id="txtEmail" required v-model="email">
                                    <label> Correo</label>
                                </div>

                                <div class="inputBox">
                                    <i class="fas fa-lock text-light"></i>
                                    <input type="password" id="txtPass" required v-model="pass">
                                    <label> Contraseña</label>
                                </div>

                                <div class="centrarBotones">
                                    <input type="submit" id="btnAcceder" class="botones" value="Acceder"
                                        v-on:click="iniciarSesion">
                                    <input type="button" id="btnNuevaCuenta" class="botones" value="Registrarse">
                                </div>
                                <div id="Verificando" style="display: none;">
                                    <div class="d-flex align-items-center">
                                        <strong class="text-light">Verificando...</strong>
                                        <div class="spinner-border ml-auto text-primary" role="status"
                                            aria-hidden="true"></div>
                                    </div>
                                </div>
                            </form>
                            <div class="centrarBotones">
                                <a href="public/vistas/crear-salas.html">¿Olvidaste tu contraseña?</a>
                            </div>
                            <small class="d-inline-block text-muted mt-5">Todos los derechos reservados | © 2020
                                Team
                                Cilantro</small>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <small class="d-inline-block text-muted mt-5">Todos los derechos reservados | © 2020 Team Cilantro</small>

    <script src="https://kit.fontawesome.com/2f2a4cd560.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <script src="../../private/Firebase/config.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
    <script src="../JS/auth/auth.js"></script>
</body>

</html>