<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>HIPER EFE, Un nuevo lugar para aprender</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/prueba.css">
</head>

<body>
    <div class=" col-md-12 toppiProfileEst">
        <header>
            <div>
                <a href="#" class="logo-principal"><span>HIPER</span>EFE</a>
            </div>

            <nav class="activarMenu">
                <ul>
                    <li><a href="#" class="traerPerfilE"><i class="fa fa-user" aria-hidden="true"> Perfil</i> </a></li>
                    <li><a href="#" class="salas"><i class="fa fa-heart" aria-hidden="true"> Mis Salas</i>
                    <li><a href="#"><i class="fa fa-globe" aria-hidden="true"> Mundo Virtual </i></a></li>
                    <li><a href="#" onclick="cerrarSesion()"><i class="fa fa-sign-out" aria-hidden="true"> Salir</i></a>
                    </li>

                </ul>
            </nav>

            <div class="toggle"> <i class="fa fa-bars" aria-hidden="true"></i></div>

        </header>
    </div>


    <div id="vista-estudiante" class=" estudianteGen" style="z-index: 1; width: 100%;">

        <div class=" row">

            <div class="col-md-4 targetEst">
                <div class="center">
                    <div class="bio-card">
                        <div class="izq">
                            <div class="traerPerfilE botonis " data-modulo="configPerfil">
                                <i class="fa fa-pencil " aria-hidden="true"></i>
                            </div>
                            <img src="../imagenes/ciudad2.png" class="cover">
                            <div class="profilee">
                                <img v-bind:src="usuario.photoURL" class="pdp" id="imgPhotoEst">
                            </div>
                            <h1 id="userName">{{usuario.displayName}}</h1>
                            <p id="userEmail">{{usuario.email}}</p>
                        </div>


                    </div>
                </div>

            </div>

            <div class="col-md-6  perfilEst"
                style="border: 4px solid rgba(0, 0, 255, 0.29);   border-radius: 25px 0 0 25px; z-index: 1;"
                id="vista-configPerfil">
                <div class="content-vistaPerfil ">
                    <h1>Salas a las que perteneces</h1>
                    <main class="" style="  height: 35vh;   margin-left: 2%;  overflow-y: scroll !important;">
                        <table class=" table-content ">
                            <thead>
                                <tr>
                                    <th> Codigo </th>
                                    <th> Nombre </th>
                                    <th> Descripcion </th>
                                    <th>Ver</th>
                                    <th>Salir</th>

                                </tr>
                            </thead>
                            <tbody v-for='filaSala in sala'>
                                <tr>
                                    <td>{{filaSala.codigoSala}} </td>
                                    <td>{{filaSala.nombreSala}} </td>
                                    <td>{{filaSala.descripcion}} </td>
                                    <div>
                                        <td class="btns-icons" style="cursor: pointer;"
                                            v-on:click="mandarDatos(filaSala)"><i class="fa fa-eye"
                                                aria-hidden="true"></i>
                                        </td>
                                    </div>

                                    <div>
                                        <td class="btns-icons" style="cursor: pointer;" v-on:click=""><i
                                                class="fa fa-sign-out" aria-hidden="true"></i>
                                        </td>
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                        <div id="sinResultados" style=" align-items: center;">
                        </div>
                    </main>
                    <div class="inputSearch">
                        <input type="text" placeholder="Buscar sala..." v-on:keyup="filtrarSalas" v-model="campo">
                        <i class="fa fa-search fa-lg fa-fw" aria-hidden="true"></i>
                    </div>

                    <div class="buttons" style="margin-top: 4%;">
                        <button onclick="alertaNewSala()" class="button-hover"><span><i class="fa fa-plus"
                                    aria-hidden="true"></i> add Sala </span></button>
                    </div>
                </div>
            </div>

        </div>


    </div>


    <!-- Modal de avatares -->
<div class="modal fade" id="modalAvatar" data-backdrop="static" tabindex="-1" role="dialog"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Escoge tu avatar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div id="contenedorAvatares" class="row">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="guardarAvatar()">Seleccionar</button>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="modalNewPass" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-ms">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Cambiando contraseña...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input class="inputsEPI" type="password" placeholder="Nueva contraseña" id="newPassuser"></input>
          <input class="inputsEPI" type="password" placeholder="Repetir contraseña" id="newPassuser2"></input>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary"  onclick="updateUserPassword()">Verificar Cambios</button>
        </div>
      </div>
    </div>
  </div>
    <script src="https://kit.fontawesome.com/2f2a4cd560.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <script src="../JS/jquery-ui.min.js"></script>



    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <script src="../../private/Firebase/config.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
    <script src="../JS/vista-estudiante/perfilEstudiante.js"></script>
</body>

</html>