
.general {

    background-image: url("../imagenes/fondoCiudad.png");
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

section {
    position: relative;
    width: 100%;
    height: 100vh;
}

section .box {
    position: absolute;
    top: calc(60% - 200px);
    left: calc(50% - 200px);
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
}

section .box div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(40deg) translate3D(-100px, -80px, 300px);

}

section .box div span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 200px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, .1);
    background: #ccc
}

section .box div span video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(0px);

}

section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
}

section .box div span:nth-child(1) {
    transform: rotateX(0deg) translate3d(0, 0, 99px);
}

section .box div span:nth-child(2) {
    transform: rotateY(90deg) translate3d(0, 0, -99px);
}

section .box div span:nth-child(2) video {
    transform: rotateY(180deg);
}

section .box div span:nth-child(3) {
    transform: rotateX(90deg) translate3d(0, 0, 99px);
}

