@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    z-index: 1000;
    box-sizing: border-box;
    background: rgba(0, 0, 255, 0.29)
}

header .logo-principal {
    position: relative;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;

}


header .logo-principal span {
    color: #0000FF;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover,
header nav ul li a.activo {
    color: #fff;
    background: #2196f3;
    border-radius: 1em;
}

.toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    background: #111;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background: #0000FF;
    transform-origin: top;
    transform: skewX(-25deg);
    z-index: 1;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.15;
    pointer-events: none;
}

.banner .textBox {
    position: relative;
    max-width: 600px;
    z-index: 2;
}

.banner .textBox h2 {
    color: #fff;
    font-size: 2em;
}

.banner .textBox p {
    color: #fff;
    font-size: 1.1em;
    margin: 5px 0 25px;
}

.banner .textBox a {
    position: relative;
    display: inline-block;
    color: #111;
    background: #fff;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;

}

.banner .imgBox {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    z-index: 2;
}

.banner .imgBox img {

    position: absolute;
    bottom: 0;
    height: 80%;
    z-index: 10000;
}

.sci {
    position: absolute;
    bottom: 20px;
    letter-spacing: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin-right: 15px;
}

.sci li a img {
    transform: scale(0.5);
    filter: invert(1);
}

@media (max-width: 991px) {
    header {
        padding: 0 20px;
    }

    .toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.activarMenu {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }

    .banner {
        padding: 150px 50px 0;
        flex-direction: column;
        overflow: hidden;
    }

    .banner:before {
        width: 300px;
        transform: skewX(-25deg) translateX(50%);

    }

    .banner .textBox {
        max-width: 100%;
    }

    .sci {
        z-index: 1000;
        left: initial;
        right: 20px;
        flex-direction: column;
    }
}