:root {
    --color-dark: #15181f;
    --color-dark-x: #2d343f;
    --color-dark-xx: #1f232b;
    --color-light: #ffffff;
    --color-grey: #f5f6f8;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: var(--color-dark-xx);
    color: var(--color-light);
    letter-spacing: .05rem;
}

.bg-light {
    background-color: var(--color-light) !important;
}

.bg-dark {
    background-color: var(--color-dark) !important;
}

.p-6 {
    padding: 4rem 7rem;
}

.contact-box {
    padding: 3rem;
}

.btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 1rem;
    min-width: 10rem;
}

.btn-outline-dark {
    border: 2px solid var(--color-dark-xx);
}


.form-control {
    background-color: var(--color-dark-xx);
    border: 2px solid var(--color-dark-xx);
    border-radius: .2rem;
    padding: 1.5rem 1rem;
}

.register-bg {
    background-image: url('../imagenes/fondoCiudad.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.testiomonial {
    bottom: 10px
}

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }

    .contact-box {
        padding: 0;
    }

    .width-100 {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .register-bg {
        min-height: 50vh;
    }
}


section {
    position: relative;
    width: 100%;
    height: 100vh;
}

section .box {
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
}

section .box div {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(40deg) translate3D(-100px, -80px, 300px);

}

section .box div span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 200px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, .1);
    background: #ccc
}

section .box div span video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(0px);

}

section .box div span:nth-child(1) {
    transform: rotateX(0deg) translate3d(0, 0, 99px);
}

section .box div span:nth-child(2) {
    transform: rotateY(90deg) translate3d(0, 0, -99px);
}


section .box div span:nth-child(3) {
    transform: rotateX(90deg) translate3d(0, 0, 99px);
}