.box-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;


}


.box-form h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.box-form .inputBox {
    position: relative;
}

.box-form .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.box-form .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;

}
.box-form .inputBox i {
    position: absolute;
    top: 0;
    left: 90%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;

}

.box-form .inputBox input:focus~label,
.box-form .inputBox input:valid~label {
    top: -10px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.box-form .botones {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}


.box-form .botones:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4 0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 200px #03e9f4;
}

.centrarBotones {
    display: flex;
    align-items: center;
    justify-content: center;
}